[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DRclass"]
	path = DRclass
	url = https://github.com/cran/DRclass
[submodule "ecosim"]
	path = ecosim
	url = https://github.com/cran/ecosim
[submodule "rivernet"]
	path = rivernet
	url = https://github.com/cran/rivernet
[submodule "stoichcalc"]
	path = stoichcalc
	url = https://github.com/cran/stoichcalc
[submodule "timedeppar"]
	path = timedeppar
	url = https://github.com/cran/timedeppar
[submodule "utility"]
	path = utility
	url = https://github.com/cran/utility
